.container {
  background-color: white;
  margin: 0;
  padding: 0;
  min-width: 600px;
}

.h1 {
  margin-top: 10px;
  text-align: center;
}

.welcomeP {
  margin: 0 auto;
  max-width: 700px;
}

.sliderContainer {
  max-width: 700px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 650px;
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #54278f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #54278f;
  cursor: pointer;
}

.sliderValue {
  font-size: 1.2em;
  margin-left: 5px;
  background-color: #9e9ac8;
  border-radius: 3px;
}

.d3Content {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.loadingSVG {
  width: 400px;
  height: 400px;
  opacity: .6;
}

.span1 {
  width: 100%;
  text-align: center;
  display: block;
}

.d3Content2 {
  display: flex;
  justify-content: center;
  align-items: center;  

  svg {

    rect {
      fill: #54278f;
    }
  }
}

#loadingSVG2 {
  fill: gray;
}
